<div class="main posts-index">
  <div class="user-search">
    <%=form_tag("/searches/user_search") do %>
      <input name="user" class="user-search-input"placeholder="ユーザー名">
      <button type="submit"><span class="fa-solid fa-magnifying-glass"></span></button>
    <% end %>
  </div>
  <div class="post-search">
    <%=form_tag("/searches/post_search") do %>
      <input name="post" class="user-search-input"placeholder="投稿">
      <button type="submit"><span class="fa-solid fa-magnifying-glass"></span></button>
    <% end %>
  </div>
  <div class="main-container">
  <% @posts.each do |post|%>
    <% if !post.tocomment %>
      <article class="posts-index-item"  data-post-id="<%= post.to_json %>">
        <div class="postname">
          <%= link_to(post.user.name,"/users/#{post.user.id}")%>
          <%=image_tag "/user_images/#{post.user.image_name}", size: "50x50", style: "object-fit:cover; border-radius: 50px;" %>
          </div>
          <div class="post-index">
          <%=render_with_hashtags(post.content)%>
          </div>
        <div class="post-option">
          <% comments = Post.where(tocomment:post.id)%>
          <div class="comment">
            <%=link_to("/main/#{post.id}/comment") do %>
              <span class="fa-regular fa-comment"></span>
            <% end %> 
              <%=comments.count %>
          </div>
          <div class="like">
          <% if Like.find_by(user_id:@current_user.id,post_id:post.id) %>
            <%=link_to("/likes/#{post.id}/destroy",data:{turbo_method: :post}) do %>
              <span class="fa-solid fa-heart"></span>
            <% end %>
          <% else %>
            <%=link_to("/likes/#{post.id}/create",data:{turbo_method: :post}) do %>
              <span class="fa-regular fa-heart"></span>
            <% end %>
          <% end %>
            <%=Like.where(post_id:post.id).count%>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
  <div class="post-new">
    <div class="post-new-index">
      <div class="post-new-index-top">
        <div class="xmark">
          <i class="fa fa-lg fa-xmark"></i>
        </div>
      </div>
      <div class="post-new-index-content">
        <%=form_with url: "/main/create" do |form|%>
          <div class="post-flex">
            <%=image_tag "/user_images/#{@current_user.image_name}", size: "60x60", style: "object-fit:cover; border-radius: 60px;"%>
            <%=form.text_area :content%>
          </div>
      </div>
        <%=form.button "投稿する", class:"post-new-submit"%>
      <% end %>
    </div>
  </div>
  <div class="index-make">
      <span class="fa-regular fa-square-plus fa-3x"></span>
  </div>
  </div>
</div>

<script type="text/javascript">
    $(function() {
      $(".posts-index-item,.gray-icon").removeClass("gray");
      $(".posts-index-item,.gray-icon").hover(function(){
        $(this).addClass("gray");
      },function(){
        $(this).removeClass("gray");
      });
    

    $(".posts-index-item").on("click",function(e){
        post = $(this).data("post-id");
        if (!$(e.target).closest("a").length){
            window.location.href = `/main/${post.id}`
        }
    });

    $(".fa-square-plus").on("click",function(){
      $(".post-new").fadeIn();
    })

    $(".fa-xmark").on("click",function(){
      $(".post-new").fadeOut();
    })
    });
</script>
