<div class="main users-maypage">
  <div class="mypage">
    <div class="mypage-section1">
      <div class="user-image">
        <%=image_tag("/user_images/#{@user.image_name}",class: "mypage-image")%>
      </div>
      <div class="mypage-wrap">
        <p class="name"><%=@user.name%></p>
        <div class="profile-detail">
          <%=@user.profile%>
        </div>
        <div class="flex">
        <% if @current_user.id != @user.id%>
          <% if Fav.find_by(follow:@current_user.id,follower:@user.id) %>
            <%=link_to("フォロー解除","/favs/#{@user.id}/unfollow",class: "follow",data:{turbo_method: :post})%>
          <% else %>
            <%=link_to("フォロー","/favs/#{@user.id}/follow",class: "follow",data:{turbo_method: :post})%>
          <% end %>
        <% end %>
        <p><%=link_to("フォロー","/favs/#{@user.id}/followlist")%><%=@follow.count%></p>
        <p><%=link_to("フォロワー","/favs/#{@user.id}/followerlist")%><%=@follower.count%></p>
        <% if @current_user.id == @user.id%>
          <%=link_to "/users/#{@user.id}/edit" do%>
          <span class="fa-solid fa-gear fa-lg"></span>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="mypage-section2">
    <div class="flex">
      <% if @current_user.id == @user.id%>
      <div class="stop">
        <button class="start">トレーニングを開始する</button>
        <div id="clock">
        </div>
        <% if @current_user.id == @user.id%>
          <%=link_to("/users/#{@user.id}/train") do%>
            <button class="recode">詳細を記録する</button>
          <% end %>
        <% end %>
      </div>
      <% end %>
    <div class="train">
      <div class="train-title">
        トレーニングカレンダー
      </div>
      <div class="train-week">
        <div class="day">月</div>
        <div class="day">火</div>
        <div class="day">水</div>
        <div class="day">木</div>
        <div class="day">金</div>
        <div class="day">土</div>
        <div class="day">日</div>
      </div>
      <div class="train-row">
        <div class="train-month">
          <div class="train-month-2">
          </div>
        </div>
        <div class="train-row-parant-child">
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
        </div>
        <div class="train-row-parant-child">
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
        </div>
        <div class="train-row-parant-child">
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
        </div>
        <div class="train-row-parant-child">
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
        </div>
        <div class="train-row-parant-child">
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
          <div class="train-row-child-child"></div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="mypage-section3">
    <div class="choice">
      <div class="posts-mypage-item-post">
        投稿
      </div>
      <div class="posts-mypage-item-reply">
        返信
      </div>
      <div class="posts-mypage-item-like">
        いいね
      </div>
    </div>
    <div class="clear">
    </div>
    <div class="overflow-post">
      <% @user.posts.each do |post|%>
      <% if !post.tocomment %>
      <article class="posts-mypage-post" data-mypage-id="<%= post.to_json %>">
          <div class="post-mypage-content">
            <%=render_with_hashtags(post.content)%>
          </div>
          <div class="post-mypage-option">
            <% comments = Post.where(tocomment:post.id)%>
            <div class="comment">
              <%=link_to("/main/#{post.id}/comment") do %>
                <span class="fa-regular fa-comment"></span>
              <% end %> 
                <%=comments.count %>
            </div>
            <div class="like">
            <% if Like.find_by(user_id:@current_user.id,post_id:post.id) %>
              <%=link_to("/likes/#{post.id}/destroy",data:{turbo_method: :post}) do %>
                <span class="fa-solid fa-heart"></span>
              <% end %>
            <% else %>
              <%=link_to("/likes/#{post.id}/create",data:{turbo_method: :post}) do %>
                <span class="fa-regular fa-heart"></span>
              <% end %>
            <% end %>
              <%=Like.where(post_id:post.id).count%>
            </div>
          </div>
      </article>
      <% end %>
      <% end %>
    </div>
    <div class="overflow-reply none">
      <% @comments.each do |comment|%>
        <% unless comment.like %>
        <div class="posts-mypage-post">
          <div class="post-mypage-content">
            <%=comment.content%>
          </div>
          <div class="post-mypage-option">
            <% comments = Post.where(tocomment:comment.id)%>
            <div class="comment">
              <%=link_to("/main/#{comment.id}/comment") do %>
                <span class="fa-regular fa-comment"></span>
              <% end %> 
                <%=comments.count %>
            </div>
            <div class="like">
            <% if Like.find_by(user_id:@current_user.id,post_id:comment.id) %>
              <%=link_to("/likes/#{comment.id}/destroy",data:{turbo_method: :post}) do %>
                <span class="fa-solid fa-heart"></span>
              <% end %>
            <% else %>
              <%=link_to("/likes/#{comment.id}/create",data:{turbo_method: :post}) do %>
                <span class="fa-regular fa-heart"></span>
              <% end %>
            <% end %>
              <%=Like.where(post_id:comment.id).count%>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="overflow-fav none">
    <% @likes.each do |like|%>
        <div class="posts-mypage-like" data-like-id="<%=like.post.to_json%>">
        <div class="postname">
          <%=link_to(like.post.user.name,"/users/#{like.post.user.id}")%>
          <%=image_tag "/user_images/#{like.post.user.image_name}", size: "50x50", style: "object-fit:cover; border-radius:50px;" %>
        </div>
        <div class="post-index">
          <%=render_with_hashtags(like.post.content)%>
          <%if like.post.like%>
          <div class="star">
            <% integer = like.post.like.floor %>
            <% integer.times do |i|%>
                <span class="fa-solid fa-star"></span>
            <% end %>
            <% unless like.post.like - integer == 0 %>
                <span class="fa-solid fa-star-half"></span>
            <% end %>
          </div>
          <% end %>
        </div>
          <div class="post-option">
          <% comments = Post.where(tocomment:like.post.id)%>
          <div class="comment">
            <%=link_to("/main/#{like.post.id}/comment") do %>
              <span class="fa-regular fa-comment"></span>
            <% end %> 
              <%=comments.count %>
          </div>
          <div class="like">
          <% if Like.find_by(user_id:@current_user.id,post_id:like.post.id) %>
            <%=link_to("/likes/#{like.post.id}/destroy",data:{turbo_method: :post}) do %>
              <span class="fa-solid fa-heart"></span>
            <% end %>
          <% else %>
            <%=link_to("/likes/#{like.post.id}/create",data:{turbo_method: :post}) do %>
              <span class="fa-regular fa-heart"></span>
            <% end %>
          <% end %>
            <%=Like.where(post_id:like.post.id).count%>
          </div>
        </div> 
        </div>
    <% end %>
    </div>
    </div>
      <div class="mypage-make">
        <span class="fa-regular fa-square-plus fa-2x"></span>
      </div>
      <div class="post-new">
    <div class="post-new-index">
      <i class="fa fa-lg fa-times"></i>
      <%=form_with url: "/main/create" do |form|%>
        <div class="post-flex">
          <%=image_tag "/user_images/#{@current_user.image_name}", size: "40x40", style: "object-fit:cover; border-radius: 40px;"%>
          <%=form.text_area :content%>
        </div>
        <%=form.button "投稿する"%>
      <% end %>
    </div>
  </div>
  </div>
</div>

<div class="tuuti none">
      <% if @notifications %>
        <% @notifications.each do |notification| %>
          <div class="notice" data-notification-id ="<%=notification.to_json%>">
            <% visitor = User.find_by(id:notification.visitor_id) %>
            <% if notification.action == "like"%>
              <% post = Like.find_by(id:notification.like_id)%>
            <% elsif notification.action == "comment"%>
              <% comment = Post.find_by(id:notification.comment_id)%>
            <% end %>
            <%=image_tag "/user_images/#{visitor.image_name}", size: "40x40", style: "object-fit:cover; border-radius:40px;"%>
            <% case notification.action %>
              <% when "follow" then %>
                <%=link_to visitor.name,"/users/#{visitor.id}", style: "color: mediumaquamarine; font-weight: bold;"%>があなたをフォローしました
                <% if (Time.zone.now-notification.created_at).floor/60 < 60 %>
                  <%=(Time.zone.now-notification.created_at).floor/60%>分前
                <% elsif (Time.zone.now-notification.created_at).floor/60 >= 60%>
                  <%=(Time.zone.now-notification.created_at).floor/3600%>時間前
                <% else %>
                  <%=(Time.zone.now-notification.created_at).floor/86400%>日前
                <% end %>
              <% when "like" then%>
                <%=link_to visitor.name,"/users/#{visitor.id}",style: "color: mediumaquamarine; font-weight: bold;"%>が<%=link_to "あなたの投稿","/main/#{post.post_id}",style: "color: mediumaquamarine; font-weight: bold;"%>にいいねしました
                <% if (Time.zone.now-notification.created_at).floor/60 < 60 %>
                  <%=(Time.zone.now-notification.created_at).floor/60%>分前
                <% elsif (Time.zone.now-notification.created_at).floor/60 >= 60%>
                  <%=(Time.zone.now-notification.created_at).floor/3600%>時間前
                <% else %>
                  <%=(Time.zone.now-notification.created_at).floor/86400%>日前
                <% end %>
              <% when "comment" then %>
                <%=link_to visitor.name,"/users/#{visitor.id}",style: "color: mediumaquamarine; font-weight: bold;"%>が<%=link_to "あなたの投稿","/main/#{comment.tocomment}",style: "color: mediumaquamarine; font-weight: bold;"%>にコメントしました
                <% if (Time.zone.now-notification.created_at).floor/60 < 60 %>
                  <%=(Time.zone.now-notification.created_at).floor/60%>分前
                <% elsif (Time.zone.now-notification.created_at).floor/60 >= 60%>
                  <%=(Time.zone.now-notification.created_at).floor/3600%>時間前
                <% else %>
                  <%=(Time.zone.now-notification.created_at).floor/86400%>日前
                <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>

<script type="text/javascript">
    $(function() {
      $(".posts-mypage-post,.posts-mypage-like").removeClass("gray");
      $(".posts-mypage-post,.posts-mypage-like").hover(function(){
        $(this).addClass("gray");
      },function(){
        $(this).removeClass("gray");
      });
      $(".posts-mypage-item-post").addClass("white");
      $(".posts-mypage-item-reply").on("click",function(){
        $(this).addClass("white");
        $(".overflow-reply").removeClass("none");
        $(".overflow-post").addClass("none");
        $(".overflow-fav").addClass("none");
        $(".posts-mypage-item-post").removeClass("white");
        $(".posts-mypage-item-like").removeClass("white");
      });
      $(".posts-mypage-item-post").on("click",function(){
        $(this).addClass("white");
        $(".overflow-post").removeClass("none");
        $(".overflow-fav").addClass("none");
        $(".overflow-reply").addClass("none");
        $(".posts-mypage-item-reply").removeClass("white");
        $(".posts-mypage-item-like").removeClass("white");
      });
      $(".posts-mypage-item-like").on("click",function(){
        $(this).addClass("white");
        $(".overflow-fav").removeClass("none");
        $(".overflow-post").addClass("none");
        $(".overflow-reply").addClass("none");
        $(".posts-mypage-item-reply").removeClass("white");
        $(".posts-mypage-item-post").removeClass("white");
      });
      $(".posts-mypage-item-notice").on("click",function(){
        $(this).addClass("white");
        $(".overflow-notice").removeClass("none");
        $(".overflow-post").addClass("none");
        $(".overflow-reply").addClass("none");
        $(".overflow-fav").addClass("none");
        $(".posts-mypage-item-reply").removeClass("white");
        $(".posts-mypage-item-post").removeClass("white");
        $(".posts-mypage-item-like").removeClass("white");
      });

    $(".posts-mypage-post").on("click",function(e){
        post = $(this).data("mypage-id");
        if (!$(e.target).closest("a").length){
            window.location.href = `/main/${post.id}`
        }
    });

    $(".posts-mypage-like").on("click",function(e){
        post = $(this).data("like-id");
        if (!$(e.target).closest("a").length){
            window.location.href = `/main/${post.id}`
        }
    });
    $(".fa-bell").on("click",function(){
        $(".tuuti").toggleClass("none");
        $(".notice").each(function(){
            notice = $(this).data("notification-id");
            if (notice.checked ===false){
                $(this).addClass("check");
            }
        });
    });
    $(".notice").on("click",function(e){
        notification = $(this).data("notification-id");
        if (!$(e.target).closest("a").length){
            window.location.href = `/notifications/${notification.id}`
        }
    })

    var sec = 0;
    var min = 0;
    var hour = 0;
    var date = new Date();
    date.setDate(1);
    var today = new Date();
    var point = date.getDay()+today.getDate()-1;
    var row = Math.floor(point/7) + 1;
    var column = (point % 7);
    var timer = new Array;
    $(".train-month-2").text(`${today.getMonth()+1}月`);
    $(".start").on("click",function(){
      var day = new Date();
        if ($(this).text() == "トレーニングを開始する"){
            if (!localStorage.getItem(`${today.getMonth()+1}月${today.getDate()}日`)){
              sec = 0;
              min = 0;
              hour = 0;
              $("#clock").html("00:00:00");
            }else{
              storagetime = `${today.getMonth()+1}月${today.getDate()}日`;
              var obj = localStorage.getItem(storagetime);
              object = JSON.parse(obj);
              sec = object.sec;
              min = object.min;
              hour = object.hour;
            }
            timer.push(setInterval(countup, 1000));
            $(this).text("トレーニングをやめる");
            $(this).toggleClass("dark");
        }
        else{
            $(this).text("トレーニングを開始する");
            $(this).toggleClass("dark");
            var now = new Date();
            console.log(timer);
            for (var i = 1; i < 99999; i++){
                if(clearInterval(i)){
                  break;
                }
            }
            stopwatch(hour*60+min);
            storagetime = `${now.getMonth()+1}月${now.getDate()}日`;
            var obj1 = localStorage.getItem(storagetime);
            object = JSON.parse(obj1);
            object.which = "start";
            var obj2 = JSON.stringify(object);
            localStorage.setItem(storagetime,obj2);
        }
    })
    function countup(){
      sec += 1;

      if (sec > 59) {
        sec = 0;
        min += 1;
      }

      if (min > 59) {
        min = 0;
        hour += 1;
      }


      sec_number = ('0' + sec).slice(-2);
      min_number = ('0' + min).slice(-2);
      hour_number = ('0' + hour).slice(-2);

      $('#clock').html(hour_number + ':' +  min_number + ':' + sec_number);
      var obj = {
              sec : sec,
              min : min,
              hour : hour,
              which : "stop"
      };
      var obj = JSON.stringify(obj);
      storagetime = `${today.getMonth()+1}月${today.getDate()}日`;
      localStorage.setItem(storagetime,obj);
      o = localStorage.getItem(storagetime);
      console.log(JSON.parse(o));
      console.log(sec);
    }

    function stopwatch(totaltime){
      if(totaltime >= 90){
                $(`.train-row .train-row-parant-child:nth-child(${row+1}) .train-row-child-child:nth-child(${column})`).addClass("high");
            }else if(totaltime >= 60){
                $(`.train-row .train-row-parant-child:nth-child(${row+1}) .train-row-child-child:nth-child(${column})`).addClass("medium-high");
            }else if(totaltime >= 30){
                $(`.train-row .train-row-parant-child:nth-child(${row+1}) .train-row-child-child:nth-child(${column})`).addClass("medium");
            }else if(totaltime >= 10){
                $(`.train-row .train-row-parant-child:nth-child(${row+1}) .train-row-child-child:nth-child(${column})`).addClass("low");
            }
    }
    for(var s=1;s<=31;s++){
      var jsonObj = localStorage.getItem(`${today.getMonth()+1}月${s}日`);
      if(jsonObj){
        var jsObj = JSON.parse(jsonObj);
        stopwatch(jsObj.hour*60+jsObj.min);
      }
      if(s == today.getDate() && jsonObj){
        sec_number = ('0' + jsObj.sec).slice(-2);
        min_number = ('0' + jsObj.min).slice(-2);
        hour_number = ('0' + jsObj.hour).slice(-2);
        $('#clock').html(hour_number + ':' +  min_number + ':' + sec_number);
        break;
      }else{
        $("#clock").html("00:00:00")
      }
    }

    if(localStorage.getItem(`${today.getMonth()+1}月${today.getDate()}日`)){
      var todayObj = localStorage.getItem(`${today.getMonth()+1}月${today.getDate()}日`);
      var object = JSON.parse(todayObj);
      console.log(object);
      if (object.which == "start"){
        $(".start").text("トレーニングを開始する");
        $(".start").removeClass("dark");
      }else if(object.which == "stop"){
        $(".start").text("トレーニングをやめる");
        $(".start").addClass("dark");
      }
    }

    $(".fa-square-plus").on("click",function(){
      $(".post-new").fadeIn();
    })

    $(".fa-times").on("click",function(){
      $(".post-new").fadeOut();
    })
    });
</script>