<div class="main users-new">
    <div class="container">
      <div class="signup">Signup</div>
        <div class="signup-form">
          <%=form_tag("/users/create") do%>
            <input class="input" name="name" placeholder="ユーザー名" value="<%=@user.name%>">            
            <% @user.errors.full_messages.each do |message|%>
                <%=message %>
            <%  end %>
            <input class="input" name="email" placeholder="メールアドレス" value="<%=@user.email%>">
            <input class="input" name="password" placeholder="パスワード(6文字以上12文字以下の英数字)" value="<%=@user.password%>">
            <input class="signup-button" type="submit" value="signup">
          <% end %>
        </div>
    </div>
</div>