<div class="main users-train">
  <div class="container">
    <div>
    <div class="float">
      <div class="train-item-trainning" style="width:90%;">
       <span class="fa-solid fa-dumbbell fa-lg"></span>
      </div>
      <div class="train-item-food" style="width:10%;">
        <span class="fa-solid fa-bowl-food fa-lg"></span>
      </div>
      <div class="train-item-sleep" style="width:10%;">
       <span class="fa-solid fa-moon fa-lg"></span>
      </div>
    </div>
    <div class="train-recode">
      <% if @trainning_recodes%>
        <% @trainning_recodes.each do |recode| %>
          <article class="train-item-trainning-recode">
            <div class="date">
              <%=recode.created_at.strftime("%Y/%m/%d")%>
            </div>
            <div class="recode-content">
              <%=recode.trainnig%>
            </div>
            <div class="train-option">
              <%=link_to("/users/#{recode.id}/train_destroy", data:{turbo_method: :post}) do%>
                <span class="fa-solid fa-trash" style="color:white;"></spna>
              <% end %>
              <%=link_to("/users/#{recode.id}/train_edit") do %>
                <span class="fa-solid fa-gear fa-lg" style="color:white;"></span>
              <% end %>
            </div>
           </article>
        <% end %>
      <% end %>
    </div>
    <div class="food-recode none">
      <% if @food_recodes%>
        <% @food_recodes.each do |recode| %>
          <article class="train-item-food-recode">
            <div class="date">
              <%=recode.created_at.strftime("%Y/%m/%d")%>
            </div>
            <div class="recode-content">
              <%=recode.food%>
            </div>
            <div class="train-option">
              <%=link_to("/users/#{recode.id}/train_destroy",data:{turbo_method: :post}) do%>
                <span class="fa-solid fa-trash" style="color:white;"></spna>
              <% end %>
              <%=link_to("/users/#{recode.id}/train_edit") do %>
                <span class="fa-solid fa-gear fa-lg" style="color:white;"></span>
              <% end %>
            </div>
           </article>
        <% end %>
      <% end %>
    </div>
    <div class="sleep-recode none">
      <% if @sleep_recodes%>
        <% @sleep_recodes.each do |recode| %>
          <article class="train-item-sleep-recode">
            <div class="date">
              <%=recode.created_at.strftime("%Y/%m/%d")%>
            </div>
            <div class="recode-content">
              <%=recode.sleep%>
            </div>
            <div class="train-option">
              <%=link_to("/users/#{recode.id}/train_destroy",data:{turbo_method: :post}) do%>
                <span class="fa-solid fa-trash" style="color:white;"></spna>
              <% end %>
              <%=link_to("/users/#{recode.id}/train_edit") do %>
                <span class="fa-solid fa-gear fa-lg" style="color:white;"></span>
              <% end %>
            </div>
           </article>
        <% end %>
      <% end %>
    </div>
    <div class="train-form">
      <%=form_with url: "/users/#{@user.id}/train_form" do |form|%>
        <%=form.select :type, [["トレーニング",1],["食事",2],["睡眠",3]], {},{class: "train-form-select"}%>
        <%=form.button "記録する"%>
        <%=form.text_area :content %>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(function() {
    $(".train-item-trainning").css("background-color","rgb(127, 113, 255)");
    $(".train-item-trainning").on("click",function(){
        $(this).css("background-color","rgb(127, 113, 255)");
        $(this).css("width","90%");
        $(".train-item-food").css("width","10%");
        $(".train-item-sleep").css("width","10%");
        $(".train-item-food").css("background-color","");
        $(".train-item-sleep").css("background-color","");
        $(".train-recode").removeClass("none");
        $(".food-recode").addClass("none");
        $(".sleep-recode").addClass("none");
    })
    $(".train-item-food").on("click",function(){
        $(this).css("background-color","rgb(244, 108, 108)");
        $(this).css("width","90%");
        $(".train-item-trainning").css("width","10%");
        $(".train-item-sleep").css("width","10%");
        $(".train-item-trainning").css("background-color","");
        $(".train-item-sleep").css("background-color","");
        $(".food-recode").removeClass("none");
        $(".train-recode").addClass("none");
        $(".sleep-recode").addClass("none");
    })
    $(".train-item-sleep").on("click",function(){
        $(this).css("background-color","rgb(217, 101, 249)");
        $(this).css("width","90%");
        $(".train-item-trainning").css("width","10%");
        $(".train-item-food").css("width","10%");
        $(".train-item-trainning").css("background-color","");
        $(".train-item-food").css("background-color","");
        $(".sleep-recode").removeClass("none");
        $(".food-recode").addClass("none");
        $(".train-recode").addClass("none");
    })
  })
</script>