<div class="main main-follewlist">
<div class="foller-name">
    <% @follows.each_with_index do |follow,i|%>
      <% if i == 0 %>
        <% user=User.find_by(id:follow.follow)%>
        <%=image_tag "/user_images/#{user.image_name}", size: "70x70", style: "object-fit:cover; border-radius: 70px; margin-right:10px;" %>
        <%=link_to(user.name,"/users/#{user.id}")%>
      <% end %>
    <% end %>
</div>
  <% if @users %>
    <% @users.each do |user| %>
      <article class="favs-index-item">
        <div class="fav-name">
          <%= link_to(user.name,"/users/#{user.id}")%>
          <%=image_tag "/user_images/#{user.image_name}", size: "120x120", style: "object-fit:cover;" %>
        </div>
        <div class="fav-profile">
          <%=user.profile%>
        </div>
        <div class="fav-follow">
          <% if @current_user.id != user.id%>
            <% if Fav.find_by(follow:@current_user.id,follower:user.id) %>
              <%=link_to("フォロー解除","/favs/#{user.id}/unfollow",class: "follow",data:{turbo_method: :post})%>
            <% else %>
              <%=link_to("フォロー","/favs/#{user.id}/follow",class: "follow",data:{turbo_method: :post})%>
            <% end %>
          <% end %>
        </div>
      </article>
    <% end %>
  <% else %>
   <p>フォローしているユーザーはいません。</p>
  <% end %>
</div>

<script type="text/javascript">
    $(function() {
      $(".favs-index-item").removeClass("gray");
      $(".favs-index-item").hover(function(){
        $(this).addClass("gray");
      },function(){
        $(this).removeClass("gray");
      });
    });
</script>