<div class="main main-usersearch">
  <% if @posts %>
  <% @posts.each do |post| %>
    <% if !post.tocomment %>
      <article class="posts-index-item"  data-post-id="<%= post.to_json %>">
        <div class="postname">
          <%= link_to(post.user.name,"/users/#{post.user.id}")%>
          <%=image_tag "/user_images/#{post.user.image_name}", size: "50x50", style: "object-fit:cover;" %>
          </div>
          <div class="post-index">
          <%=render_with_hashtags(post.content)%>
          </div>
        <div class="post-option">
          <% comments = Post.where(tocomment:post.id)%>
          <div class="comment">
            <%=link_to("/main/#{post.id}/comment") do %>
              <span class="fa-regular fa-comment"></span>
            <% end %> 
              <%=comments.count %>
          </div>
          <div class="like">
          <% if Like.find_by(user_id:@current_user.id,post_id:post.id) %>
            <%=link_to("/likes/#{post.id}/destroy",data:{turbo_method: :post}) do %>
              <span class="fa-solid fa-heart"></span>
            <% end %>
          <% else %>
            <%=link_to("/likes/#{post.id}/create",data:{turbo_method: :post}) do %>
              <span class="fa-regular fa-heart"></span>
            <% end %>
          <% end %>
            <%=Like.where(post_id:post.id).count%>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
  <% end %>
</div>

<script type="text/javascript">
    $(function() {
      $(".posts-index-item,.gray-icon").removeClass("gray");
      $(".posts-index-item,.gray-icon").hover(function(){
        $(this).addClass("gray");
      },function(){
        $(this).removeClass("gray");
      });
    });

    $(".posts-index-item").on("click",function(e){
        post = $(this).data("post-id");
        if (!$(e.target).closest("a").length){
            window.location.href = `/main/${post.id}`
        }
    });
</script>