<!DOCTYPE html>
<html>
  <head>
    <title>MoscleSocial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media:"all", "data-turbo-track": "reload" %>
    <link href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </head>
  <header>
  <div class="header-logo">
    <%=link_to("MuscleSocial","/")%>
  </div>
  <% if @current_user %>
  <ul class="header-menus">
    <li>
    <%=link_to("投稿一覧","/main/index")%>
    </li>
    <li>
    <%=link_to("マイページ","/users/#{@current_user.id}")%>
    </li>
    <li>
    <%=link_to("ログアウト","/logout",data:{turbo_method: :post})%>
    </li>
    <li>
      <div class="delete">退会</div>
    </li>
    <li>
    <% if @notifications.where(checked:false).size == 0%>
      <%=link_to("/notifications/index") do %>
        <span class="fa-solid fa-bell"></span>
      <% end %>
    <% else %>
      <%=link_to("/notifications/index") do %>
        <span class="fa-solid fa-bell"></span>
        <i class="fa-solid fa-circle"></i>
      <% end %>
    <% end %>
    </li>
  </ul>
  <div class="header-bar1">
    <span class="fa fa-bars fa-lg"></>
  </div>
  <div class="bell">
    <% if @notifications.where(checked:false).size == 0%>
      <%=link_to("/notifications/index") do %>
        <span class="fa-solid fa-bell"></span>
      <% end %>
    <% else %>
      <%=link_to("/notifications/index") do %>
        <span class="fa-solid fa-bell"></span>
        <i class="fa-solid fa-circle"></i>
      <% end %>
    <% end %>
  </div>
  <% else %>
  <ul class="header-menus">
    <li>
    <%=link_to("新規登録","/signup")%>
    </li>
    <li>
    <%=link_to("ログイン","/login")%>
    </li>
  </ul>
  <div class="header-bar2">
    <span class="fa fa-bars fa-lg"></span>
  </div>
  <% end %>
  </header>
  <body>
  <% if @current_user %>
    <div class="delete-window" style="display:none">
      <div class="delete-window-content">
        <p>本当に退会しますがよろしいですか？</p>
        <h5>この操作は取り消すことができません。</h5>
        <div class="delete-window-content-button">
          <%=button_to("退会する","/users/#{@current_user.id}/delete",data:{turbo_method: :post} ,class: "delete-button")%>
          <div class="canc-button">キャンセル</div>
        </div>
      </div>
    </div>
  <% end %>
  <% if @current_user %>
  <div class="header-bar1-content none">
    <div class="header-content">
      <%=link_to("投稿一覧","/main/index")%>
    </div>
    <div class="header-content">
      <%=link_to("マイページ","/users/#{@current_user.id}")%>
    </div>
    <div class="header-content">
      <%=link_to("ログアウト","/logout",data:{turbo_method: :post})%>
    </div>
    <div class="header-content">
      <div class="delete">退会</div>
    </div>
  </div>
  <% end %>
  <div class="header-bar2-content none">
    <div class="header-content">
      <%=link_to("新規登録","/signup")%>
    </div>
    <div class="header-content">
      <%=link_to("ログイン","/login")%>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
<script>
  $(function(){
    $(".header-bar1").on("click",function(){
      $(".header-bar1-content").toggleClass("none");
    })
    $(".header-bar2").on("click",function(){
      $(".header-bar2-content").toggleClass("none");
    })
    $(".delete").on("click",function(){
      $(".delete-window").css("display","block");
    })
    $(".canc-button").on("click",function(){
      $(".delete-window").css("display","none");
    })
  })
</script>
